# Maven target directory
/target/

# IDE-specific files
.idea/
*.iml
*.class
.classpath

# Eclipse specific files
.settings/
.project

# IntelliJ IDEA specific files
out/
*.ipr
*.iws

# Visual Studio Code specific files
.vscode/

# OS-specific files
.DS_Store           # macOS
Thumbs.db          # Windows

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Backup files
*~                   # Backup files created by some editors
*.bak                # Backup files

# Ignore video files
*.mp4
*.mkv
*.avi

# Ignore text files (except requirements.txt)
*.txt
!requirements.txt

# Multi-language/Project ignore
.env*
last_saved_filename.txt

# Python environments
venv/
conda_env/
env/
.venv/
.env/
__pycache__/
*.pyc

# IDE hidden items
.DS_Store
.metadata/
*.bak
*.tmp
*.temp